
.title {
    background: #FFFFFF;
  }
  
  /*/////////////////////////////TOP NAVBAR/////////////////////////////*/
  .topNavBar {
    background-color: #FFFFFF;
    overflow: hidden;
  }
  
  .topLogo {
    width: 13%;
    height: 13%;
    margin-top: 1.3em;
    margin-bottom: 2em;
    margin-left: 4em;
    float: left;
  }
  
  .topNavBar {
    height: 30%;
  }
  
  .navbarItem {
    float: right;
    text-align: center;
    padding: 17px;
    margin-top: 2em;
    margin-right: 3em;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }
  
  a {
    color: #000000;
  }
  
  a:hover {
    color: #c2c2c2;
  }
  
  .navbarActions {
    list-style-type: none;
  }
  h2{
    font-family:'Prata', serif ;
    width: 100%;
    height: 5%;
    font-size:160%;
    text-align: center;
    color:white;

}

.textDescription{
  font-family: 'Cormorant Garamond', serif;
  font-size: 150%;
  text-align: center;
  padding: 2% 2%;
  color:white;
}
.itemMeal{
    width: 6%;
    height: 6%;
    background-color: white;
    float:left;
    padding: 3.5%;
    margin:10px;
    border-radius: 3%;
    box-shadow:0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) ;

}
.foodPic{
    width:100%;
    height:100%;
    cursor: pointer;
}
.secondBody{
    overflow:hidden;
    background-image: url("plate.png");
    
}
.foodPic:hover{
    opacity: 0.3;
    transform: scaleX(-1);
}
.foodTitle{
    font-family:'Prata', serif;
    text-align: center; 
    white-space: nowrap;
}
.startCookingBtn {
    background-color: #000000;
    border-radius: 28px;
    border: 1px solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 150%;
    font-weight: bold;
    padding: 17px 53px;
    text-decoration: none;
    position: absolute;
    right: 70%;
    bottom:3%;
  }
  
  .startCookingBtn:hover {
    background-color: #ffffff;
    color: #000000;
  }
  .box{
      overflow: hidden;
      float: left;
      flex-direction: column;
  }

  @media screen and (max-width:320px) {
    .topNavBar {
        background-color: #FFFFFF;
        overflow: hidden;
      }
      
      .topLogo {
        width: 60%;
        height: 60%;
        margin-top: 1.3em;
        margin-bottom: 2em;
        margin-left: 4em;
        float: left;
      }
      
      .topNavBar {
        height: 15%;
        width: 65%;
      }
      .secondBody{
          flex-direction: column;
      }
      .navbarItem{
          width: 10px;
          height:2px;
          flex-direction: column;
      }
      .itemMeal{
        width: 13%;
        height: 13%;
        background-color: white;
        float:left;
        padding: 5%;
        margin:10px;
        border-radius: 3%;
        box-shadow:0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) ;
      }
      .foodPic:hover{
        opacity: 0.3;
        transform: scaleX(-1);
    }
    .foodTitle{
        font-family:'Prata', serif;
        text-align: center; 
        white-space: nowrap;
    }
    .foodTitle{
        font-family:'Prata', serif;
        text-align: center; 
        white-space: nowrap;
        font-size:75%;
    }
    .startCookingBtn {
        background-color: #000000;
        border-radius: 28px;
        border: 1px solid #ffffff;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 90%;
        font-weight: bold;
        padding: 17px 30px;
        text-decoration: none;
        right: 10px;
        bottom: 3px;
        left:100px;
        top: 210%;
      }
    .joinusPage{
      opacity:0;
    }
      
  }
 
